.nav{
    display: flex;
    height: 10vh;
    align-items: center;
    width: full;
    background-color: white;
    justify-content: center;
}
.nav-title{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(141, 5, 245);
    text-shadow: 1px 1px 0px gray ;

}
.nav-links>li>a{
    text-decoration: none;
    font-weight: 700;
    display: block;
    margin: 0 5px;
    border: 1px solid purple;
    padding: 6px;
    border-radius: 8px;

}
.nav-links{
    display: flex;
}
.nav-links>li>a:hover{
    color: white;
    background-color:blueviolet;
  
    

}
.nav-links>li{
    list-style: none;
   

   
}
.container{
    height: calc(90vh);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container>h1{
    border: 2px solid white;
    padding: 19px;
    border-radius: 19px;
    background-color: black;
    color: white;
}
.btn{
    padding: 13px 25px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    background-color: blueviolet;
color: white;   
cursor: pointer;
transition: .1s;

}
.btn:hover{
    background-color: black;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}